body {
    font: 0.8em Arial;
}

.chat .messages {
    border: 1px solid #ccc;
    width: 450px;
    height: 415px;
    padding: 10px;
    overflow-y: scroll;
}

.chat .message a{
    color: slategrey;
}

.chat .message p{
    margin: 5px 0;
}

.chat .entry {
    width: 460px;
    height: 50px;
    padding: 5px;
    margin-top: 5px;
    font: 1em Arial;
}

.grey {
    background: #efefef;
}